.gameDiv div {
    border-style: solid;
    border-width: 1px;
}

.dark {
    background-color: black;
    color: white;
}

body {
    height: 2000px;
}

.optionsDiv {
    position: absolute; 
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    transform: translate(-40%, -55%);
    text-align: center;
}

#darkModeBtn {
    position: fixed;
    top: 0%;
    right: 0%;
}